<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoja de Vida - Andres Camilo Miranda</title>
    <link rel="stylesheet" href="../static/stylesdev2.css">
</head>
<body>
    <div class="container">
        <header class="card">
            <h1>Andres Camilo Miranda</h1>
            <p>Desarrollador Web | Python | Django</p>
            <p>Email: andresesatrada0630@gmail.com | Teléfono: +57 3162740777 | Ciudad: Pasto, Colombia</p>
        </header>

        <section class="card" id="resumen">
            <h2>Perfil Profesional</h2>
            <p>Estudiante de ingeniería de software buscando oportunidades para aplicar mis conocimientos en proyectos innovadores y desafiantes. Comprometido con el aprendizaje continuo y el desarrollo profesional y personal y crecer en un entorno dinámico y colaborativo. 
                Desataco en mi posición para trabajar en equipo y mi capacidad de adaptarme a nuevos desafíos con empeño. </p>
        </section>

        <section class="card" id="educacion">
            <h2>Formación Académica</h2>
            <div>
                <h3>Bachiller - Instituto San Francisco de Asis</h3>
                <p><em>2023</em></p>
            </div>
            <div>
                <h3>Tecnico Laboral en Soporte Sistemas e Informatica - CINAR Sistemas</h3>
                <p><em>2023 - 2025</em></p>
            </div>
            <div>
                <h3>Ingeniería de Software - Universidad Cooperativa de Colombia</h3>
                <p><em>2024 - Presente</em></p>
            </div>
        </section>

        <section class="card" id="experiencia">
            <h2>Experiencia Laboral</h2>
            <div>
                <h3>Auxiliar Contable - Mundo Click</h3>
                <p><em>2018 - 2020</em></p>
                <ul>
                    <li>Monitoreo y control de procesos contables</li>
                    <li>Manejo de office</li>
                    <li>Mantenimiento Preventivo a equipos de computación</li>
                </ul>
            </div>
            <div>
                <h3>Auxiliar en Sistemas - Politecnico San Juan de Pasto</h3>
                <p><em>2025 - 2025</em></p>
                <ul>
                    <li>Mantenimiento Correctivo y Preventivo</li>
                    <li>Instalacion y configuracion de redes alambrica e inalámbrica</li>
                    <li>Soporte y capacitacion en plataforma digital educativa</li>
                </ul>
            </div>
        </section>

        <section class="card" id="proyectos">
            <h2>Proyectos y Repositorios</h2>
            <div>
                <h3>FinAssistant</h3>
                <p>Aplicación basada en inteligencia artificial diseñada para resolver problemas de matemáticas financieras. Permite realizar cálculos complejos, explicar procedimientos paso a paso y apoyar el aprendizaje en temas financieros de manera interactiva.</p>
                <p><a href="https://github.com/AndresMira21/AIFinAssistant.git" target="_blank">Ver repositorio</a></p>
            </div>
            <div>
                <h3>LegalConnect</h3>
                <p>Plataforma tecnológica orientada al apoyo del trabajo legal. Permite analizar cláusulas contractuales, identificar posibles riesgos y facilitar la toma de decisiones informadas mediante el uso de inteligencia artificial.</p>
                <p><a href="https://github.com/AndresMira21/analyzer-contract-backend.git" target="_blank">Ver repositorio</a></p>
            </div>
        </section>
    </div>

    <footer>
        <p>&copy; 2025 Andres Camilo Miranda. Todos los derechos reservados.</p>
    </footer>
</body>
</html>